.navbar-default {
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 20px;
}

.dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    background-color: #f8f8f8;
}